$circle-size: 21px;
$circle-width: 1px;

$underline-height-xl: 10px;
$underline-height-l: 8px;
$underline-height-m: 6px;
$underline-height-s: 4px;

$translateY-value-xl: $underline-height-xl * 2.5;
$translateY-value-l: $underline-height-l  * 2.4;
$translateY-value-m: $underline-height-m  * 2.7;
$translateY-value-s: $underline-height-s  * 3;
$translateY-value-xs: $underline-height-s  * 3.4;